body{
	margin: 0 0;
	padding: 0 0;
	background-color: #DCDCDC;
	font-family: calibri;
}
.main{
	max-width: 1000px;
	margin: auto;
	background-color: #000000;
}
.logo img{
	float: left;
	width: 90px;
	height: auto;
}
.menu {
	float: right;
}
ul{
	list-style-type: none;
	margin-top: 35px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #000000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0,5s ease;
}
ul li a:hover{
	color: #1E90FF;
}
ul li.active a{
	color: #1E90FF;
}
.title{
	width: 29%;
	position: absolute;
	top: 20%;
	left: 35%;
	text-align: center;
}
.title h1{
	color: #000000;
	font-size: 35px;
}
.title h2{
	color: #808080;
	font-size: 15px;
}
.responsive{
	max-width: 300px;
	float: left;
	margin-left: 30px;
}
.galeri{
	border: 0px;
}
.galeri img{
	width: 100%;
	height: auto;
}
.album {
	width: 100%;
	position: absolute;
	top: 60%;
	left: 0%;
}
